.countryCard{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.countryCard h5{
    padding: 10px;
}
.countryCard img{
    height: 100px;
    width: 100px;
}

.text{
    padding: 10px;
}